// Variables
//colors
$transparent:               transparent;
$white:                     #fff;
$concrete:                  #f2f2f2;
$catskill-white:            #f0f3f8;
$scorpion:                  #5e5e5e;
$mine-shaft:                #323030;
$black:                     #000;
$witch-haze:                #fff590;
$portica:                   #f9ea5e;
$polo-blue:                 #7f94cd;
$ship-cove:                 #7387ba;
$spindle:                   #c5d7ef;
// fonts
$base-font-default:         'Montserrat', sans-serif;
$font-mulish:               'Mulish', sans-serif;
$font-tenor-sans:           'Tenor Sans', sans-serif;
// Body
$base-text-color:           $mine-shaft;
$base-background:           $white;
$base-font-family:          $base-font-default;
$font-size-base:            18px;
$line-height-base:          22px;
$base-min-width:            320px;
// Font-weight
$font-weight-400:           400;
$font-weight-500:           500;
$font-weight-600:           600;
$font-weight-700:           700;
$font-weight-800:           800;
$font-weight-900:           900;
$font-weight-1000:          1000;
