@import "../utils/variables";
@import "../utils/mixin";

#wrapper {
  overflow: hidden;
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

