@import "../utils/variables";
@import "../utils/mixin";

#wrapper {
  overflow: hidden;
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.display-sm-block {
  display: none !important;

  @include breakpoint($mobile) {
    display: block !important;
  }
}

.display-sm-none {
  @include breakpoint($mobile) {
    display: none !important;
  }
}

