@import "../utils/variables";
@import "../utils/mixin";

.banner {
  background-image: url("../../images/banner-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1075px;
  padding: 275px 0 90px;
  margin-bottom: 56px;

  @include breakpoint($tablet) {
    display: flex;
    align-items: center;
    padding: 175px 0 90px;
    min-height: 576px;
  }

  @include breakpoint($mobile) {
    padding: 65px 0;
    min-height: 415px;
  }
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .img-area {
    position: absolute;
    top: 50%;
    right: -106px;
    transform: translate(0, -50%);
    max-width: 885px;
    width: 100%;

    @include breakpoint($desktop) {
      right: -46px;
      max-width: 615px;
    }

    @include breakpoint($tablet) {
      right: 0;
      max-width: 383px;
    }

    @include breakpoint($mobile) {
      display: none;
    }
  }
}

.information-wrap {
  max-width: 712px;
  width: 100%;
  color: $white;
  position: relative;
  z-index: 1;

  @include breakpoint($tablet) {
    max-width: 410px;
  }

  @include breakpoint($mobile) {
    z-index: 0;
    max-width: 100%;
  }
}

.title-banner {
  font-family: $font-mulish;
  font-weight: $font-weight-1000;
  font-size: $font-size-base + 78;
  line-height: $line-height-base + 98;
  margin-bottom: 70px;

  @include breakpoint($tablet) {
    font-size: $font-size-base + 38;
    line-height: $line-height-base + 38;
    margin-bottom: 20px;
  }

  @include breakpoint($mobile) {
    font-size: $font-size-base + 18;
    line-height: $line-height-base + 18;
  }
}

.subtitle {
  font-size: $font-size-base + 14;
  line-height: $line-height-base + 26;
  font-weight: $font-weight-600;
  max-width: 513px;
  width: 100%;
  margin-bottom: 69px;

  @include breakpoint($tablet) {
    max-width: 100%;
    font-size: $font-size-base + 12;
    line-height: $line-height-base + 16;
  }

  @include breakpoint($mobile) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}