@import "../utils/variables";
@import "../utils/mixin";

.title-block {
  font-family: $font-mulish;
  font-weight: $font-weight-1000;
  font-size: $font-size-base + 32;
  line-height: $line-height-base + 49;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 94px;

  span {
    border-bottom: 4px solid $witch-haze;
    letter-spacing: 11px;
    padding-bottom: 3px;
  }
}

.about-us {
  margin-bottom: 95px;
}

.service-wrap {
  position: relative;
  min-height: 1185px;
}

.service-block {
  max-width: 366px;
  width: 100%;
  position: absolute;

  .img-area {
    max-width: 340px;
    width: 100%;
  }

  .img-area-two {
    max-width: 400px;
  }

  .img-area-three {
    max-width: 435px;
  }
}

.text-area {
  background: $catskill-white;
  border-radius: 30px;
  padding: 16px 11px 10px 21px;
  line-height: $line-height-base + 8;
  letter-spacing: 1px;
  position: relative;
  top: -51px;
  z-index: 1;

  strong {
    font-size: $font-size-base + 17;
    line-height: $line-height-base + 12;
    color: $polo-blue;
  }
}

.arrow-decoration {
  position: absolute;
  bottom: 55px;
  left: 76px;
  right: 0;
  z-index: 2;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.arrow-two {
  z-index: -1;
  top: 17px;
}


.service-block-two {
  left: 29%;
  bottom: -83px;
  max-width: 574px;
}

.arrow-decoration-two {
  top: -55%;
  left: 53%;
  right: -2%;
}

.text-area-two {
  max-width: 513px;
  top: -88px;
  right: -59px;
}

.arrow-three {
  z-index: 1;
  left: -35px;
}

.arrow-four {
  left: -31px;
  top: 9px;
}

.service-block-three {
  right: -98px;
  top: -40px;
  max-width: 500px;
}

.text-area-three {
  left: -64px;
  top: -43px;
  max-width: 466px;
  padding: 16px 37px 10px 27px;
}

.criteria-wrap {
  margin-bottom: 50px;
}

.criteria-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .img-area {
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: 748px;
    width: 100%;
    margin-top: -66px;
  }
}

.criteria-block {
  p {
    font-family: $font-mulish;
    font-weight: $font-weight-600;
    font-size: $font-size-base + 10;
    line-height: $line-height-base + 19;
    color: $black;
    margin-top: -27px;
    padding: 0 24px;
  }
}

.criteria-block-four {
  align-self: end;

  .line {
    top: -85px;
    left: 57px;
    transform: rotate(90deg);
    width: 125px;
  }
}

.number {
  font-family: $font-mulish;
  font-weight: $font-weight-1000;
  font-size: $font-size-base + 162;
  line-height: $line-height-base + 61;
  color: rgba(197, 215, 239, 0.2);
  position: relative;
  z-index: -1;
}

.line {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 219px;
  height: 9px;
  background: $catskill-white;
  border-radius: 20px;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $catskill-white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 1;
  }
}

.projects-wrap {
  background-image: url("../../images/projects-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 164px 0;
  margin-bottom: 68px;

  .title-block {
    text-align: left;
    margin-bottom: 57px;

    span {
      border-color: $white;
    }
  }
}

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px 30px;
}

.card-item {
  width: 33.3%;
  padding: 0 20px;
  margin-bottom: 50px;
}

.item-content {
  border-radius: 30px;
  background: $white;

  .img-area {
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 16px;
  }

  h4 {
    font-family: $font-mulish;
    font-weight: $font-weight-600;
    font-size: $font-size-base + 10;
    line-height: $line-height-base + 20;
    margin-bottom: 12px;
    text-align: center;
    padding: 0 70px;
    letter-spacing: 1.5px;
  }

  p {
    font-weight: $font-weight-400;
    line-height: $line-height-base + 5;
    padding:  0 25px;
    margin-bottom: 23px;
  }
}

.price-list {
  padding: 0 25px;
  margin-bottom: -22px;

  li {
    position: relative;
    padding-left: 14px;
    margin-bottom: 18px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: $polo-blue;
      width: 4px;
    }

    strong {
      display: block;
      font-weight: $font-weight-700;
      font-size: $font-size-base + 29;
      line-height: $line-height-base + 22;
      color: $polo-blue;
      margin-bottom: -1px;
    }

    sub {
      font-size: $font-size-base;
    }

    p {
      font-weight: $font-weight-700;
      line-height: $line-height-base + 5;
      padding: 0;
      margin: 0;
    }

    .collected {
      color: $periwinkle-gray;
    }
  }
}

.holder-btn {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -30px;
}

.holder-link {
  display: flex;
  justify-content: end;
}

.link-projects {
  font-size: $font-size-base + 10;
  line-height: $line-height-base + 20;
  position: relative;
  padding: 0 84px 0 0;

  &:hover {
    &:after {
      filter: contrast(20%);
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-image: url("../../images/arrow.svg");
    width: 52px;
    height: 24px;
  }
}

.consultation-abroad-wrap {
  margin-bottom: 100px;

  .text {
    font-size: $font-size-base + 10;
    line-height: $line-height-base + 19;
    color: #000;
    position: relative;
    padding: 56px 10px 50px 0;
    max-width: 1033px;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -311px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
      background: $witch-haze;
      border-radius: 30px;
      z-index: -1;
    }
  }
}

.map-area {
  max-width: 1110px;
  position: relative;
  right: -137px;
  top: -23px;
}

.our-philosophy {
  .title-block {
    margin-bottom: 121px;
  }
}

.information-text {
  font-size: $font-size-base + 10;
  line-height: $line-height-base + 19;
  padding: 41px 100px 10px 248px;
  position: relative;
  min-height: 450px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -4000px;
    right: -4000px;
    bottom: 0;
    background: $catskill-white;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -126px;
    background-image: url("../../images/decoration-photo.png");
    width: 278px;
    height: 576px;
    z-index: -1;
  }
}

.text-block {
  background: $witch-haze;
  border-radius: 30px;
  padding: 57px 60px 41px 57px;
  max-width: 1041px;
  width: 100%;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}


.main-text {
  line-height: $line-height-base + 5;
  color: $black;
  margin-bottom: 5px;

  strong {
    font-weight: $font-weight-900;
    font-size: $font-size-base + 17;
    line-height: $line-height-base + 27;
    color: $polo-blue;
  }
}

.ban-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px 38px;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 0 10px;
    margin-bottom: 10px;

    &:nth-child(2) {
      width: 40%;
    }

    &:nth-child(3) {
      width: 25%;
    }
  }

  .img-area {
    margin-bottom: 20px;
  }

  p {
    font-size: $font-size-base;
    font-weight: $font-weight-600;
    line-height: $line-height-base + 5;
    text-align: left;
    color: $black;
    letter-spacing: 1px;
  }
}