@import "../utils/variables";
@import "../utils/mixin";

.title-block {
  font-family: $font-mulish;
  font-weight: $font-weight-1000;
  font-size: $font-size-base + 32;
  line-height: $line-height-base + 49;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 94px;

  @include breakpoint($tablet) {
    font-size: $font-size-base + 12;
    line-height: $line-height-base + 23;
  }

  span {
    border-bottom: 4px solid $witch-haze;
    letter-spacing: 11px;
    padding-bottom: 3px;

    @include breakpoint($tablet) {
      letter-spacing: 5px;
    }
  }
}

.about-us {
  margin-bottom: 95px;

  @include breakpoint($tablet) {
    margin-bottom: 295px;
  }
}

.service-wrap {
  position: relative;
  min-height: 1185px;
}

.service-block {
  max-width: 366px;
  width: 100%;
  position: absolute;

  @include breakpoint($tablet) {
    max-width: 335px;
  }

  .img-area {
    max-width: 340px;
    width: 100%;

    @include breakpoint($desktop) {
      max-width: 270px;
    }
  }

  .img-area-two {
    max-width: 400px;

    @include breakpoint($desktop) {
      max-width: 280px;
    }

    @include breakpoint($tablet) {
      max-width: 220px;
    }
  }

  .img-area-three {
    max-width: 435px;

    @include breakpoint($desktop) {
      max-width: 365px;
    }
  }
}

.text-area {
  background: $catskill-white;
  border-radius: 30px;
  padding: 16px 11px 10px 21px;
  line-height: $line-height-base + 8;
  letter-spacing: 1px;
  position: relative;
  top: -51px;
  z-index: 1;

  strong {
    font-size: $font-size-base + 17;
    line-height: $line-height-base + 12;
    color: $polo-blue;
  }
}

.arrow-decoration {
  position: absolute;
  bottom: 55px;
  left: 76px;
  right: 0;
  z-index: 2;

  @include breakpoint($desktop) {
    width: 200px;
  }

  @include breakpoint($tablet) {
    width: 160px;
    transform: rotate(61deg);
    bottom: -25px;
    left: 83px;
  }
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.arrow-two {
  z-index: -1;
  top: 17px;
}


.service-block-two {
  left: 29%;
  bottom: -83px;
  max-width: 574px;

  @include breakpoint($tablet) {
    left: 0;
    bottom: -27%;
    max-width: 384px;
  }
}

.arrow-decoration-two {
  top: -55%;
  left: 53%;
  right: -2%;

  @include breakpoint($desktop) {
    top: -61%;
    left: 17%;
    right: -2%;
    width: 230px;
  }

  @include breakpoint($tablet) {
    top: -11%;
    left: 70%;
    width: 140px;
    transform: rotate(0deg);
  }
}

.text-area-two {
  max-width: 513px;
  top: -88px;
  right: -59px;

  @include breakpoint($tablet) {
    top: -58px;
    right: -29px;
  }
}

.arrow-three {
  z-index: 1;
  left: -35px;
}

.arrow-four {
  left: -31px;
  top: 9px;
}

.service-block-three {
  right: -98px;
  top: -40px;
  max-width: 500px;

  @include breakpoint($tablet) {
    max-width: 350px;
    right: 0;
  }
}

.text-area-three {
  left: -64px;
  top: -43px;
  max-width: 466px;
  padding: 16px 37px 10px 27px;

  @include breakpoint($desktop) {
    max-width: 406px;
    left: -6px;
  }
}

.criteria-wrap {
  margin-bottom: 65px;

  .title-block {
    @include breakpoint($tablet) {
      margin-bottom: 44px;
    }
  }
}

.criteria-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .img-area {
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: 748px;
    width: 100%;
    margin-top: -66px;

    @include breakpoint($desktop) {
      max-width: 618px;
      margin-top: -16px;
    }

    @include breakpoint($tablet) {
      max-width: 458px;
    }
  }
}

.criteria-block {
  p {
    font-family: $font-mulish;
    font-weight: $font-weight-600;
    font-size: $font-size-base + 10;
    line-height: $line-height-base + 19;
    color: $black;
    margin-top: -27px;
    padding: 0 24px;

    @include breakpoint($desktop) {
      padding: 0 4px;
    }

    @include breakpoint($tablet) {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
}

.criteria-block-four {
  align-self: end;

  .line {
    top: -85px;
    left: 57px;
    transform: rotate(90deg);
    width: 125px;

    @include breakpoint($desktop) {
      top: -45px;
      left: 77px;
      width: 85px;
    }

    @include breakpoint($tablet) {
      left: 27px;
    }
  }
}

.number {
  font-family: $font-mulish;
  font-weight: $font-weight-1000;
  font-size: $font-size-base + 162;
  line-height: $line-height-base + 61;
  color: rgba(197, 215, 239, 0.2);
  position: relative;
  z-index: -1;

  @include breakpoint($tablet) {
    font-size: $font-size-base + 82;
  }
}

.line {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 219px;
  height: 9px;
  background: $catskill-white;
  border-radius: 20px;

  @include breakpoint($tablet) {
    width: 129px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $catskill-white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 1;
  }
}

.projects-wrap {
  background-image: url("../../images/projects-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 164px 0 172px;
  margin-bottom: 60px;

  @include breakpoint($tablet) {
    padding: 84px 0 92px;
  }

  .title-block {
    text-align: left;
    margin-bottom: 57px;

    span {
      border-color: $white;
    }
  }
}

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px 30px;

  @include breakpoint($desktop) {
    margin: 0 -10px 30px;
  }
}

.card-item {
  width: 33.3%;
  padding: 0 20px;
  margin-bottom: 50px;

  @include breakpoint($desktop) {
    padding: 0 10px;
  }
}

.item-content {
  border-radius: 30px;
  background: $white;

  .img-area {
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 16px;
  }

  h4 {
    font-weight: $font-weight-600;
    font-size: $font-size-base + 10;
    line-height: $line-height-base + 20;
    margin-bottom: 12px;
    text-align: center;
    padding: 0 70px;

    @include breakpoint($desktop) {
      padding: 0 20px;
    }

    @include breakpoint($tablet) {
      font-size: $font-size-base;
      line-height: $line-height-base;
      padding: 0 5px;
    }
  }

  p {
    font-weight: $font-weight-400;
    line-height: $line-height-base + 5;
    padding:  0 25px;
    margin-bottom: 23px;

    @include breakpoint($tablet) {
      line-height: $line-height-base;
      padding: 0 5px;
    }
  }
}

.price-list {
  padding: 0 25px;
  margin-bottom: -22px;

  @include breakpoint($tablet) {
    padding: 0 5px;
  }

  li {
    position: relative;
    padding-left: 14px;
    margin-bottom: 18px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: $polo-blue;
      width: 4px;
    }

    strong {
      display: block;
      font-weight: $font-weight-700;
      font-size: $font-size-base + 29;
      line-height: $line-height-base + 22;
      color: $polo-blue;
      margin-bottom: -1px;

      @include breakpoint($tablet) {
        font-size: $font-size-base + 20;
      }
    }

    sub {
      font-size: $font-size-base;
    }

    p {
      font-weight: $font-weight-700;
      line-height: $line-height-base + 5;
      padding: 0;
      margin: 0;
    }

    .collected {
      color: $periwinkle-gray;
    }
  }
}

.holder-btn {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -30px;
}

.holder-link {
  display: flex;
  justify-content: end;
}

.link-projects {
  font-size: $font-size-base + 10;
  line-height: $line-height-base + 20;
  position: relative;
  padding: 0 84px 0 0;

  @include breakpoint($tablet) {
    font-size: $font-size-base + 5;
  }

  &:hover {
    &:after {
      filter: contrast(20%);
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-image: url("../../images/arrow.svg");
    width: 52px;
    height: 24px;
  }
}

.consultation-abroad-wrap {
  margin-bottom: 100px;

  .title-block {
    @include breakpoint($tablet) {
      margin-bottom: 50px;
    }
  }

  .text {
    font-size: $font-size-base + 10;
    line-height: $line-height-base + 19;
    color: #000;
    position: relative;
    padding: 56px 10px 50px 0;
    max-width: 1033px;
    width: 100%;
    margin-top: -96px;

    @include breakpoint($tablet) {
      font-size: $font-size-base + 4;
      line-height: $line-height-base + 13;
      margin-top: -56px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -311px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
      background: $witch-haze;
      border-radius: 30px;
      z-index: -1;
    }
  }
}

.map-area {
  max-width: 1110px;
  position: relative;
  right: -137px;
  top: -23px;

  @include breakpoint($desktop) {
    max-width: 850px;
  }

  @include breakpoint($tablet) {
    right: 0;
    max-width: 700px;
    margin: 0 auto;
    top: 0;
  }
}

.our-philosophy-wrap {
  margin-bottom: 334px;

  .title-block {
    margin-bottom: 121px;
  }
}

.information-text {
  font-size: $font-size-base + 10;
  line-height: $line-height-base + 19;
  padding: 41px 100px 10px 248px;
  position: relative;
  min-height: 450px;

  @include breakpoint($tablet) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 9;
    padding: 41px 40px 10px 248px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -4000px;
    right: -4000px;
    bottom: 0;
    background: $catskill-white;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -126px;
    background-image: url("../../images/decoration-photo.png");
    width: 278px;
    height: 576px;
    z-index: -1;
  }
}

.text-block {
  background: $witch-haze;
  border-radius: 30px;
  padding: 57px 60px 41px 57px;
  max-width: 1041px;
  width: 100%;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;

  @include breakpoint($desktop) {
    max-width: 800px;
    padding: 57px 20px 41px 17px;
  }

  @include breakpoint($tablet) {
    max-width: 630px;
  }
}


.main-text {
  font-size: $font-size-base;
  line-height: $line-height-base + 5;
  color: $black;
  margin-bottom: 5px;

  strong {
    font-weight: $font-weight-900;
    font-size: $font-size-base + 17;
    line-height: $line-height-base + 27;
    color: $polo-blue;

    @include breakpoint($tablet) {
      font-size: $font-size-base + 4;
      line-height: $line-height-base + 3;
    }
  }
}

.ban-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px 38px;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 0 10px;
    margin-bottom: 10px;

    &:nth-child(2) {
      width: 40%;

      @include breakpoint($tablet) {
        width: 44%;
      }
    }

    &:nth-child(3) {
      width: 25%;
    }
  }

  .img-area {
    margin-bottom: 20px;

    @include breakpoint($tablet) {
      max-width: 50px;
      width: 100%;
    }
  }

  p {
    font-size: $font-size-base;
    font-weight: $font-weight-600;
    line-height: $line-height-base + 5;
    text-align: left;
    color: $black;
    letter-spacing: 1px;

    @include breakpoint($tablet) {
      line-height: $line-height-base;
    }
  }
}

.our-qualities-wrap {
  margin-bottom: 72px;

  .title-block {
    margin-bottom: 62px;
  }
}

.qualities-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -40px;

  @include breakpoint($desktop) {
    margin: 0 -20px;
  }
}

.qualities-item {
  width: 50%;
  padding: 0 40px;
  margin-bottom: 28px;

  @include breakpoint($desktop) {
    padding: 0 20px;
  }
}

.qualities-content {
  display: flex;
  align-items: center;
  background: $catskill-white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 33px 65px 34px 25px;
  min-height: 150px;

  @include breakpoint($desktop) {
    padding: 36px 35px 35px 35px;
    min-height: 197px;
  }

  @include breakpoint($tablet) {
    padding: 15px;
    min-height: 137px;
  }

  .img-area {
    margin-right: 40px;
    max-width: 55px;
    width: 100%;

    @include breakpoint($desktop) {
      margin-right: 10px;
    }

    @include breakpoint($tablet) {
      max-width: 45px;
    }
  }

  p {
    font-size: $font-size-base + 10;
    line-height: $line-height-base + 20;
    font-weight: $font-weight-600;

    @include breakpoint($tablet) {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
}

.qr-code-wrap {
  margin-bottom: 73px;

  .title-block {
    margin-bottom: 65px;
  }
}

.qr-code-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px;

  @include breakpoint($tablet) {
    margin: 0 -10px;
  }
}

.qr-code-item {
  width: 33.3%;
  padding: 0 20px;
  margin-bottom: 30px;

  @include breakpoint($tablet) {
    padding: 0 10px;
  }
}

.qr-code-content {
  border-radius: 30px;
  padding: 60px 45px;
  position: relative;

  @include breakpoint($tablet) {
    padding:  10px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.qr-code-telegram {
  background: $wild-sand;

  &:after {
    background-image: url("../../images/icon-1.svg");
    width: 80px;
    height: 80px;
  }
}

.qr-code-instagram {
  background: $spindle;

  &:after {
    background-image: url("../../images/icon-2.svg");
    width: 80px;
    height: 80px;
  }
}

.qr-code-facebook {
  background: $scotch-mist;

  &:after {
    background-image: url("../../images/icon-3.svg");
    width: 80px;
    height: 80px;
  }
}

.cooperate-wrap {
  margin-bottom: 100px;

  .title-block {
    margin-bottom: 135px;
  }
}

.cooperate-content {
  display: flex;
  justify-content: space-between;

  .img-area {
    border-radius: 30px;
    overflow: hidden;
    margin-right: 10px;
    max-width: 560px;
    width: 100%;
  }
}

.form-wrap {
  max-width: 651px;
  width: 100%;
  border-radius: 30px;
  border: 4px solid $polo-blue;
  position: relative;
  padding: 47px 77px 42px;

  @include breakpoint($desktop) {
    padding: 17px;
  }

  &:before {
    content: '';
    position: absolute;
    right: -7px;
    top: -161px;
    background-image: url("../../images/decoration-2.png");
    width: 360px;
    height: 335px;
    z-index: -1;
  }

  p {
    font-weight: $font-weight-700;
    font-size: $font-size-base + 10;
    line-height: $line-height-base + 18;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 68px;

    @include breakpoint($tablet) {
      font-size: $font-size-base;
      line-height: $line-height-base;
      margin-bottom: 38px;
    }
  }
}

.form-group {
  margin-bottom: 30px;

  input {
    font-size: $font-size-base + 10;
    line-height: $line-height-base + 6;
    height: 100px;
    padding: 35px;
    width: 100%;
    border-radius: 30px;
    background: $scotch-mist;

    @include breakpoint($tablet) {
      font-size: $font-size-base;
      line-height: $line-height-base - 4;
      height: 70px;
      padding: 15px;
    }
    
    &::placeholder {
      color: $mine-shaft;
    }
  }
}