@import "../utils/variables";
@import "../utils/mixin";

.footer {
  padding: 40px 0;
  background: $polo-blue;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 13px;

  li {
    display: flex;
    width: 33.3%;
    margin-bottom: 37px;

    @include breakpoint($tablet) {
      margin-bottom: 17px;
    }
  }

  a {
    display: flex;
    align-items: center;
    color: $white;

    &:hover {
      color: $catskill-white;
    }

    img {
      width: 30px;
      margin-right: 11px;
    }
  }
}

.logo-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  max-width: 740px;
  width: 100%;

  .logo {
    color: $white;
  }

  p {
    display: flex;
    align-items: center;
    font-family:  $font-tenor-sans;
    font-weight: $font-weight-400;
    line-height: $line-height-base - 1;
  }

  span {
    font-size: $font-size-base + 24;
    margin-right: 9px;
  }
}