/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-width: 320px;
  color: #323030; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: top; }

a {
  color: #323030;
  text-decoration: none; }
  a:hover {
    color: #5e5e5e; }

button {
  cursor: pointer;
  border: none; }

:focus {
  outline: none; }

img {
  width: 100%;
  height: auto;
  display: flex; }

input {
  outline: none;
  width: 100%;
  border: none; }

* {
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 1309px;
  padding: 0 15px;
  width: 100%; }

#wrapper {
  overflow: hidden;
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  border-radius: 30px;
  background: #fff590;
  padding: 22px 25px;
  min-width: 270px; }
  .btn:hover {
    background: #f9ea5e; }

.btn-help {
  font-weight: 500;
  background: #fff; }
  .btn-help:hover {
    background: #f2f2f2; }

.btn-assist {
  background: #7f94cd; }
  .btn-assist:hover {
    background: #7387ba; }

.btn-banner {
  position: relative;
  font-size: 32px;
  line-height: 49px;
  font-weight: 600;
  padding: 18px 158px 18px 73px;
  max-width: 434px;
  width: 100%; }
  .btn-banner:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 71px;
    transform: translate(0, -50%);
    background-image: url("../../images/arrow.svg");
    width: 52px;
    height: 24px; }

.btn-card {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  padding: 16px 20px;
  min-width: 300px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25); }

.title-block {
  font-family: "Mulish", sans-serif;
  font-weight: 1000;
  font-size: 50px;
  line-height: 71px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 94px; }
  .title-block span {
    border-bottom: 4px solid #fff590;
    letter-spacing: 11px;
    padding-bottom: 3px; }

.about-us {
  margin-bottom: 95px; }

.service-wrap {
  position: relative;
  min-height: 1185px; }

.service-block {
  max-width: 366px;
  width: 100%;
  position: absolute; }
  .service-block .img-area {
    max-width: 340px;
    width: 100%; }
  .service-block .img-area-two {
    max-width: 400px; }
  .service-block .img-area-three {
    max-width: 435px; }

.text-area {
  background: #f0f3f8;
  border-radius: 30px;
  padding: 16px 11px 10px 21px;
  line-height: 30px;
  letter-spacing: 1px;
  position: relative;
  top: -51px;
  z-index: 1; }
  .text-area strong {
    font-size: 35px;
    line-height: 34px;
    color: #7f94cd; }

.arrow-decoration {
  position: absolute;
  bottom: 55px;
  left: 76px;
  right: 0;
  z-index: 2; }

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.arrow-two {
  z-index: -1;
  top: 17px; }

.service-block-two {
  left: 29%;
  bottom: -83px;
  max-width: 574px; }

.arrow-decoration-two {
  top: -55%;
  left: 53%;
  right: -2%; }

.text-area-two {
  max-width: 513px;
  top: -88px;
  right: -59px; }

.arrow-three {
  z-index: 1;
  left: -35px; }

.arrow-four {
  left: -31px;
  top: 9px; }

.service-block-three {
  right: -98px;
  top: -40px;
  max-width: 500px; }

.text-area-three {
  left: -64px;
  top: -43px;
  max-width: 466px;
  padding: 16px 37px 10px 27px; }

.criteria-wrap {
  margin-bottom: 50px; }

.criteria-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .criteria-content .img-area {
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: 748px;
    width: 100%;
    margin-top: -66px; }

.criteria-block p {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 41px;
  color: #000;
  margin-top: -27px;
  padding: 0 24px; }

.criteria-block-four {
  align-self: end; }
  .criteria-block-four .line {
    top: -85px;
    left: 57px;
    transform: rotate(90deg);
    width: 125px; }

.number {
  font-family: "Mulish", sans-serif;
  font-weight: 1000;
  font-size: 180px;
  line-height: 83px;
  color: rgba(197, 215, 239, 0.2);
  position: relative;
  z-index: -1; }

.line {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 219px;
  height: 9px;
  background: #f0f3f8;
  border-radius: 20px; }
  .line:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f0f3f8;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 1; }

.projects-wrap {
  background-image: url("../../images/projects-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 164px 0;
  margin-bottom: 68px; }
  .projects-wrap .title-block {
    text-align: left;
    margin-bottom: 57px; }
    .projects-wrap .title-block span {
      border-color: #fff; }

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px 30px; }

.card-item {
  width: 33.3%;
  padding: 0 20px;
  margin-bottom: 50px; }

.item-content {
  border-radius: 30px;
  background: #fff; }
  .item-content .img-area {
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 16px; }
  .item-content h4 {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 12px;
    text-align: center;
    padding: 0 70px;
    letter-spacing: 1.5px; }
  .item-content p {
    font-weight: 400;
    line-height: 27px;
    padding: 0 25px;
    margin-bottom: 23px; }

.price-list {
  padding: 0 25px;
  margin-bottom: -22px; }
  .price-list li {
    position: relative;
    padding-left: 14px;
    margin-bottom: 18px; }
    .price-list li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: #7f94cd;
      width: 4px; }
    .price-list li strong {
      display: block;
      font-weight: 700;
      font-size: 47px;
      line-height: 44px;
      color: #7f94cd;
      margin-bottom: -1px; }
    .price-list li sub {
      font-size: 18px; }
    .price-list li p {
      font-weight: 700;
      line-height: 27px;
      padding: 0;
      margin: 0; }
    .price-list li .collected {
      color: #bfc9e6; }

.holder-btn {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -30px; }

.holder-link {
  display: flex;
  justify-content: end; }

.link-projects {
  font-size: 28px;
  line-height: 42px;
  position: relative;
  padding: 0 84px 0 0; }
  .link-projects:hover:after {
    filter: contrast(20%); }
  .link-projects:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-image: url("../../images/arrow.svg");
    width: 52px;
    height: 24px; }

.consultation-abroad-wrap {
  margin-bottom: 100px; }
  .consultation-abroad-wrap .text {
    font-size: 28px;
    line-height: 41px;
    color: #000;
    position: relative;
    padding: 56px 10px 50px 0;
    max-width: 1033px;
    width: 100%; }
    .consultation-abroad-wrap .text:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -311px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
      background: #fff590;
      border-radius: 30px;
      z-index: -1; }

.map-area {
  max-width: 1110px;
  position: relative;
  right: -137px;
  top: -23px; }

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 30px 0;
  z-index: 1; }

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 27px;
  border-bottom: 5px solid #fff;
  margin-bottom: 9px; }

.logo {
  display: flex;
  font-family: "Tenor Sans", sans-serif;
  font-size: 46px;
  line-height: 54px;
  text-transform: uppercase; }

.header-content {
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 1023px) {
    .header-content {
      position: fixed;
      z-index: 25;
      top: 0;
      left: 200%;
      width: 100%;
      transition: all .25s ease;
      max-width: inherit; } }
  @media only screen and (max-width: 1023px) {
    .header-content {
      flex-direction: column;
      min-height: 100vh;
      justify-content: space-between; } }
  .header-content .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    @media only screen and (max-width: 1023px) {
      .header-content .navigation {
        display: block;
        padding: 80px 15px;
        min-width: inherit;
        text-align: center; } }
    .header-content .navigation li {
      margin: 0 14px; }
      .header-content .navigation li a {
        display: block;
        padding: 10px;
        text-transform: uppercase; }
        @media only screen and (max-width: 767px) {
          .header-content .navigation li a {
            line-height: 23px;
            padding: 6px 10px; } }

.btn-menu {
  display: none;
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translate(0, -50%);
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  border: none;
  background: transparent; }
  @media only screen and (max-width: 1023px) {
    .btn-menu {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .btn-menu {
      right: 6px;
      height: 18px;
      width: 22px; } }
  .btn-menu span {
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    transform: translate(0, -50%);
    top: 50%; }
  .btn-menu .bottom {
    top: auto;
    bottom: 0; }
  .btn-menu .top {
    bottom: 0; }

.btn-menu.active {
  background: transparent; }
  .btn-menu.active .top {
    transform: translateY(8px) translateX(0) rotate(45deg);
    top: 0; }
  .btn-menu.active .middle {
    opacity: 0; }
  .btn-menu.active .bottom {
    bottom: 4px;
    transform: translateY(-8px) translateX(0) rotate(-45deg); }
    @media only screen and (max-width: 767px) {
      .btn-menu.active .bottom {
        bottom: 0; } }

@media only screen and (max-width: 1023px) {
  .show-menu {
    left: 0; } }

.banner {
  background-image: url("../../images/banner-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1075px;
  padding: 275px 0 90px;
  margin-bottom: 56px; }

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .banner-content .img-area {
    position: absolute;
    top: 50%;
    right: -106px;
    transform: translate(0, -50%);
    max-width: 885px;
    width: 100%; }

.information-wrap {
  max-width: 712px;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 1; }

.title {
  font-family: "Mulish", sans-serif;
  font-weight: 1000;
  font-size: 96px;
  line-height: 120px;
  margin-bottom: 70px; }

.subtitle {
  font-size: 32px;
  line-height: 49px;
  font-weight: 600;
  max-width: 513px;
  width: 100%;
  margin-bottom: 67px; }
