/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-width: 320px;
  color: #323030; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: top; }

a {
  color: #323030;
  text-decoration: none; }
  a:hover {
    color: #5e5e5e; }

button {
  cursor: pointer;
  border: none; }

:focus {
  outline: none; }

img {
  width: 100%;
  height: auto; }

input {
  outline: none;
  width: 100%;
  border: none; }

* {
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 1309px;
  padding: 0 15px;
  width: 100%; }

#wrapper {
  overflow: hidden;
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  border-radius: 30px;
  background: #fff590;
  padding: 22px 25px;
  min-width: 270px; }
  .btn:hover {
    background: #f9ea5e; }

.btn-help {
  font-weight: 500;
  background: #fff; }
  .btn-help:hover {
    background: #f2f2f2; }

.btn-assist {
  background: #7f94cd; }
  .btn-assist:hover {
    background: #7387ba; }

.btn-banner {
  position: relative;
  font-size: 32px;
  line-height: 49px;
  font-weight: 600;
  padding: 18px 158px 18px 73px;
  max-width: 434px;
  width: 100%; }
  .btn-banner:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 71px;
    transform: translate(0, -50%);
    background-image: url("../../images/arrow.svg");
    width: 52px;
    height: 24px; }

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 30px 0;
  z-index: 1; }

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 27px;
  border-bottom: 5px solid #fff;
  margin-bottom: 9px; }

.logo {
  display: flex;
  font-family: "Tenor Sans", sans-serif;
  font-size: 46px;
  line-height: 54px;
  text-transform: uppercase; }

.header-content {
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 1023px) {
    .header-content {
      position: fixed;
      z-index: 25;
      top: 0;
      left: 200%;
      width: 100%;
      transition: all .25s ease;
      max-width: inherit; } }
  @media only screen and (max-width: 1023px) {
    .header-content {
      flex-direction: column;
      min-height: 100vh;
      justify-content: space-between; } }
  .header-content .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    @media only screen and (max-width: 1023px) {
      .header-content .navigation {
        display: block;
        padding: 80px 15px;
        min-width: inherit;
        text-align: center; } }
    .header-content .navigation li {
      margin: 0 14px; }
      .header-content .navigation li a {
        display: block;
        padding: 10px;
        text-transform: uppercase; }
        @media only screen and (max-width: 767px) {
          .header-content .navigation li a {
            line-height: 23px;
            padding: 6px 10px; } }

.btn-menu {
  display: none;
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translate(0, -50%);
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  border: none;
  background: transparent; }
  @media only screen and (max-width: 1023px) {
    .btn-menu {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .btn-menu {
      right: 6px;
      height: 18px;
      width: 22px; } }
  .btn-menu span {
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    transform: translate(0, -50%);
    top: 50%; }
  .btn-menu .bottom {
    top: auto;
    bottom: 0; }
  .btn-menu .top {
    bottom: 0; }

.btn-menu.active {
  background: transparent; }
  .btn-menu.active .top {
    transform: translateY(8px) translateX(0) rotate(45deg);
    top: 0; }
  .btn-menu.active .middle {
    opacity: 0; }
  .btn-menu.active .bottom {
    bottom: 4px;
    transform: translateY(-8px) translateX(0) rotate(-45deg); }
    @media only screen and (max-width: 767px) {
      .btn-menu.active .bottom {
        bottom: 0; } }

@media only screen and (max-width: 1023px) {
  .show-menu {
    left: 0; } }

.banner {
  background-image: url("../../images/banner-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1082px;
  padding: 275px 0 90px; }

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .banner-content .img-area {
    position: absolute;
    top: 50%;
    right: -106px;
    transform: translate(0, -50%);
    max-width: 885px;
    width: 100%; }

.information-wrap {
  max-width: 712px;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 1; }

.title {
  font-family: "Mulish", sans-serif;
  font-weight: 1000;
  font-size: 96px;
  line-height: 120px;
  margin-bottom: 70px; }

.subtitle {
  font-size: 32px;
  line-height: 49px;
  font-weight: 600;
  max-width: 513px;
  width: 100%;
  margin-bottom: 67px; }
